<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mikolajgralczyk.mior"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.mikolajgralczyk.theory.DosesDefinitions"
            android:label="@string/title_activity_doses_definitions"
            android:parentActivityName="com.mikolajgralczyk.theory.RulesAndTheory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mikolajgralczyk.theory.RulesAndTheory"/>
        </activity>
        <activity
            android:name=".EmergencyNumbers"
            android:label="@string/title_activity_emergency_numbers"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mikolajgralczyk.mior.MainActivity"/>
        </activity>
        <activity
            android:name="com.mikolajgralczyk.theory.RadiationProperties"
            android:label="@string/title_activity_radiation_properties"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mikolajgralczyk.mior.MainActivity"/>
        </activity>
        <activity
            android:name="com.mikolajgralczyk.calculations.InternalExposure"
            android:label="@string/title_activity_internal_exposure"
            android:parentActivityName="com.mikolajgralczyk.calculations.Calculations">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mikolajgralczyk.calculations.Calculations"/>
        </activity>
        <activity
            android:name="com.mikolajgralczyk.theory.RulesAndTheory"
            android:label="@string/title_activity_rules_and_theory"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mikolajgralczyk.mior.MainActivity"/>
        </activity>
        <activity
            android:name="com.mikolajgralczyk.calculations.Calculations"
            android:label="@string/title_activity_calculations"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mikolajgralczyk.mior.MainActivity"/>
        </activity>
        <activity
            android:name="com.mikolajgralczyk.calculations.UnitCounter"
            android:label="@string/title_activity_unit_counter"
            android:parentActivityName="com.mikolajgralczyk.calculations.Calculations">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mikolajgralczyk.calculations.Calculations"/>
        </activity>
        <activity
            android:name="com.mikolajgralczyk.calculations.GammaCounter"
            android:label="@string/title_activity_gamma_counter"
            android:parentActivityName="com.mikolajgralczyk.calculations.Calculations">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mikolajgralczyk.calculations.Calculations"/>
        </activity>
        <activity
            android:name="com.mikolajgralczyk.calculations.InternalExposureForGeneralPopulation"
            android:label="@string/title_activity_internal_exposure_for_general_population"
            android:parentActivityName="com.mikolajgralczyk.calculations.InternalExposure">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mikolajgralczyk.calculations.InternalExposure"/>
        </activity>
        <activity
            android:name="com.mikolajgralczyk.calculations.InternalExposureForEmployees"
            android:label="@string/title_activity_internal_exposure_for_employees"
            android:parentActivityName="com.mikolajgralczyk.calculations.InternalExposure">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mikolajgralczyk.calculations.InternalExposure"/>
        </activity>
        <activity
            android:name="com.mikolajgralczyk.theory.Dictionary"
            android:label="@string/title_activity_dictionary"
            android:parentActivityName="com.mikolajgralczyk.theory.RulesAndTheory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mikolajgralczyk.theory.RulesAndTheory"/>
        </activity>
    </application>

</manifest>
